<h3>Modifie les modalités de ton incruste</h3>

<%= simple_form_for [@party, @booking] do |f| %>
  <%= f.input :people_coming, label: "Nombre de personnes" %>
  <%= f.input :description, label: "Commentaire" %>
  <%= f.submit "Book ta place" %>
<% end %>
