<div class="booking-review">
  <h2>Ta réservation</h2>
  <div class="status-section">
    <% if @created_booking.status == 'pending' %>
      <p class="text-grey">En attente</p>

    <% elsif @created_booking.status == 'accepted' %>
      <p class="text-green">Acceptée</p>

    <% else %>
      <p class="text-red">Rejetée</p>

    <% end %>
  </div>
  <div class="people-coming-section">
    <h5 class="people-coming-label">Nombre de personnes</h5>
    <div class="people-coming-number"><%= @created_booking.people_coming  %></div>
  </div>
  <div class="description-section">
    <h5 class="description-label">Commentaire</h5>
    <p class="description-text"><%= @created_booking.description  %></p>
  </div>


  <div class="buttons">
    <%= link_to "Modifier", edit_party_booking_path(@party, @created_booking), class: "button-blue" %>
    <%= link_to "Supprimer", party_booking_path(@party, @created_booking), method: :delete, data: {confirm: "Tu ne veux plus venir?"}, class: "button-red" %>
  </div>
</div>
