<div class="footer">
  <div class="footer-links">
    <i class="fa fa-github"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-linkedin"></i>
  </div>
</div>
