<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Trouve une soirée en appart près de chez toi</h1>
    <%= link_to "Voir la liste", parties_path, class: "button-red-home" %>
  </div>
</div>
<div class="container">
  <div class="app-description">
    <div class="row customer-need-section">
      <div class="col-xs-12 col-md-4">
          <div class="logo-card">
            <div class="logo logo-dark-blue">
              <i class="fas fa-users"></i>
            </div>
            <div class="logo-card-description">
              Nouveau dans une ville ou simplement envie de rencontrer de nouvelles personnes?
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="logo-card">
          <div class="logo logo-dark-grey">
            <i class="fas fa-home"></i>
          </div>
          <div class="logo-card-description">
            Trouve des soirées en appart ou maison dans ta ville.
            <br>Tu sais bien qu'elles sont bien plus propice aux rencontres que dans le tumulte des bars et boites de nuit.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="logo-card">
          <div class="logo logo-green">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="logo-card-description">
            Et ton compte en banque est content
          </div>
        </div>
      </div>
    </div>
    <div class="row how-to-use-app-section">
      <div class="col-xs-12 col-md-4">
        <div class="logo-card">
          <div class="logo logo-red">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="logo-card-description">
            Trouve une soirée où tu aimerais te ramener, et fais une demande!
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="logo-card">
          <div class="logo logo-light-green">
            <i class="fas fa-check"></i>
          </div>
          <div class="logo-card-description">
            Attends la réponse à ta demande!
            <br>Si elle est acceptée, l’adresse exacte te sera transmise par l’hôte de la soirée
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="logo-card">
          <div class="logo logo-light-blue">
            <i class="fas fa-comment-slash"></i>
          </div>
          <div class="logo-card-description">
            Pas de "review" ou de "note" sur la soirée ou les invités, on n'est pas là pour juger les gens
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
