.booking-review{
  background-color: white;
  margin-top: -20px;
  padding: 30px 40px;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  position: relative;
  font-size: 14px;
}

.booking-review h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 23px;
}

.status-section {
  position: absolute;
  top: 36px;
  right: 15px
}

.people-coming-section{
  display:flex;
  justify-content: space-between;
  margin-bottom: 3px
}

.people-coming-label{
  font-weight: bold;
  font-size: 14px;
}

.description-label{
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.text-grey{
  color: grey;
  font-weight: bold;
  font-size: 14px
}

.text-red {
  color: red;
  font-weight: bold;
  font-size: 14px
}

.text-green {
  color: green;
  font-weight: bold;
  font-size: 14px
}

.buttons {
  position: absolute;
  margin-top: 30px;
  bottom: 20px;
  right: 10px
}
