.button-purple{
  background: transparent;
  color: #7045af;
  border-radius: 50px;
  font-weight: lighter;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #7045af;
  opacity: 0.8;
}

.button-purple:hover{
  background: transparent;
  color: #7045af;
  border-radius: 50px;
  font-weight: lighter;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #7045af;
  opacity: 1;
  }

  .button-red-home{
    background-color: #ff6473;
    color: white;
    border-radius: 50px;
    padding: 12px 17px;
    text-decoration: none;
    margin-top: 40px;
    font-weight: lighter;
    font-size: 17px
  }


  .button-red-home:hover{
    opacity: 0.9;
    text-decoration: none;
    color: white
  }
