  .button-red-home{
    background-color: #ff6473;
    color: white;
    border-radius: 50px;
    padding: 14px 22px;
    text-decoration: none;
    margin-top: 40px;
    font-weight: lighter;
    font-size: 17px
  }


  .button-red-home:hover{
    opacity: 0.9;
    text-decoration: none;
    color: white
  }


.button-blue-big-font{
    background-color: #40a8c4;
    color: white;
    border-radius: 50px;
    padding: 9px 11px;
    text-decoration: none;
    font-size: 16px
  }

  .button-blue-big-font:hover{
    opacity: 0.9;
    text-decoration: none;
    background-color: white;
    border: 2px solid #40a8c4;
    color: #40a8c4;
  }

  .button-blue{
    background-color: #40a8c4;
    color: white;
    border-radius: 50px;
    padding: 9px 11px;
    text-decoration: none;
    font-size: 14px
  }

  .button-blue:hover{
    opacity: 0.9;
    text-decoration: none;
    background-color: white;
    border: 2px solid #40a8c4;
    color: #40a8c4;
  }

.button-red{
    background-color: #ff2e4c;
    color: white;
    border-radius: 50px;
    padding: 9px 11px;
    text-decoration: none;
    font-size: 16px
  }

  .button-red:hover{
    opacity: 0.9;
    text-decoration: none;
    background-color: white;
    border: 2px solid #ff2e4c;
    color: #ff2e4c;
  }

