.logo-card{

}

.logo{
  font-size: 100px;
  text-align: center
}

.logo-card-description {
  text-align: center;
}

.logo-red {
  color: #b73535;
}

.logo-light-green {
  color: #8bc34a;
}

.logo-green{
  color: #096c47;
}

.logo-dark-blue {
  color: #005792;
}

.logo-dark-grey {
 color: #596e79;
}

.logo-light-blue {
  color: #7acfdf;
}
